:root {
  --color-lavender: #a088bb;
  --color-violet: #482957;
  --color-purple: #6f42c1;
  --color-amethyst: #735495;
  --color-indigo: #6610f2;
  --color-green: #5eff1b;
}

.content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
  flex: 1 0 auto;
}

.content {
  flex: 1 0 auto;
}

.bg-lavender {
  background-color: var(--color-lavender);
  background-size: cover;
}

.bg-violet {
  background-color: var(--color-violet);
  background-size: cover;
}

.bg-gradient-lavender {
  background-color: #d1afef;
  background-image: linear-gradient(180deg, #d1afef 10%, var(--color-lavender) 100%);
  background-size: cover;
}

.bg-gradient-violet {
  background-color: #633976;
  background-image: linear-gradient(180deg, #633976 10%, var(--color-violet) 100%);
  background-size: cover;
}

.bg-gradient-red {
  background-color: #c96ebe;
  background-image: linear-gradient(120deg, #c96ebe 0%, #f5576c 100%);
  background-size: cover;
}

.bg-gradient-green {
  background-color: #61b687;
  background-image: linear-gradient(300deg, #61b687 0%, #b9ee56 100%);
  background-size: cover;
}

.btn-gradient-red {
  color: white;
  background-color: #c96ebe;
  background-image: linear-gradient(120deg, #c96ebe 0%, #f5576c 100%);
  background-size: cover;
  border: none;
}

.btn-gradient-red:hover {
  color: white;
  background-image: linear-gradient(120deg, #af5fa6 0%, #de4f62 100%);
  background-size: cover;
  border: none;
}

.btn-gradient-red:focus {
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(225, 138, 215, 0.5);
}

.btn-gradient-red:disabled {
  color: white;
  background-color: #858796;
  background-image: linear-gradient(120deg, #c085b9 0%, #a78f8f 100%);
  opacity: 0.9;
  border: none;
}

.btn-gradient-green {
  color: white;
  background-color: #61b687;
  background-image: linear-gradient(300deg, #61b687 0%, #b9ee56 100%);
  background-size: cover;
  border: none;
}

.btn-gradient-green:hover {
  color: white;
  background-image: linear-gradient(300deg, #57a379 0%, #aee051 100%);
  background-size: cover;
  border: none;
}

.btn-gradient-green:focus {
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(156, 225, 138, 0.5);
}

.btn-gradient-green:disabled {
  color: white;
  background-color: #858796;
  background-image: linear-gradient(300deg, #8bc0a3 0%, #979a92 100%);
  opacity: 0.9;
  border: none;
}

.btn-block-height {
  height: 100%;
}

.text-lavender {
  color: var(--color-lavender);
}

.text-violet {
  color: var(--color-violet);
}

.text-amethyst {
  color: var(--color-amethyst);
}

.text-green {
  color: var(--color-green);
}

.link-lavender {
  color: var(--color-lavender);
}

.link-lavender:hover {
  color: var(--color-amethyst);
  text-decoration: underline;
}

.sidebar-item {
  padding: 0.5rem 1rem;
  display: block;
  color: var(--color-violet);
  text-decoration: none;
  border-radius: 0.35rem;
  white-space: nowrap;
}

.sidebar-item:hover {
  background-color: #eaecf4;
  color: var(--color-violet);
  text-decoration: none;
}

.sidebar-item:active {
  background-color: #dddfeb;
  color: var(--color-violet);
  text-decoration: none;
}

.sidebar-item.active {
  color: var(--color-purple);
  font-weight: 700 !important;
}

.sidebar-menu {
  color: var(--color-violet);
}

.sidebar-menu:hover {
  color: var(--color-violet);
  text-decoration: none;
}

.sidebar-menu:active {
  color: var(--color-violet);
  text-decoration: none;
}

.sidebar-menu.active {
  color: var(--color-purple);
  font-weight: 700 !important;
}

.btn-no-focus:focus {
  outline: none;
  box-shadow: none;
}

.alert-violet {
  color: white;
  background-color: var(--color-amethyst);
  border-color: var(--color-violet);
  opacity: 90%;
}
