.bgi {
  background-image: url("https://images.pexels.com/photos/3184340/pexels-photo-3184340.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  /*position: fixed;*/
  padding: 0;
  margin: 0 auto;
  width:100%;
  flex: auto;
  height: 100%;
  background-size: cover; /* or contain depending on what you want */
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  text-align: center;
  /*margin:auto;*/
  /*padding:0;*/
  /*height: 50vh;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

/*.bgi header{*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  font-size: 20px;*/
/*  color:#6f42c1;*/
/*}*/

.he{
  border-radius: 25px;
  border: 2px solid #6f42c1;
  background-color: lightgray;
  color: #6f42c1;
}
